<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/Inicio.css"/>
  </head>
  <body>
    <div class="slide">
      <div class="overlap-ground-wrapper">
        <div class="overlap-ground-wrapper">
          <div class="overlap-group">
            <img class="draw-logo" src="static/Imagens/DrawLogo.png">
            <div class="barra-lateral"></div>

            <button onclick="window.location.href='login'" class="button-login"><div class="text-wrapper"></a>Login</div></button>


            <button onclick="window.location.href='Cadastro'" class="button-cadastro"><div class="text-wrapper">Cadastro</div></button>

            <img class="ANMO" src="static/Imagens/ANMO.png"/>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>