<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="static/Login StyleGuide.css"/>
    <link rel="stylesheet" href="static/Login.css"/>
  </head>
  <body>
    <div class="slide">
    <form action="/logando" method="post">
      <div class="overlap-ground-wrapper">
        <div class="overlap-ground-wrapper">
          <div class="overlap-group">
            <img class="draw-logo" src="static/Imagens/DrawLogo.png">
            <div class="barra-lateral"></div>
            <button class="button-login"><div class="text-wrapper">Login</div></button>
            <div class="email">
                <p class="div">Insira seu endereço de email:</p>
              <input name="email" class="field"><div class="label"></div></input>
            </div>
            <div class="password">
            
              <p class="div">Insira sua senha:</p>
              <input type="password" name="senha" class="field"><div class="label"></div></input>
            </form>
            </div>
            <img class="ANMO" src="static/Imagens/ANMO.png"/>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>